h4 = flat.title
- if flat.flat_pictures.any?
  = image_tag(flat.flat_pictures.first.small.url, class: 'img-responsive')
- else
  = image_tag('http://unsplash.it/300/200', class: 'img-responsive')
p => number_to_currency(flat.price)
p = link_to 'Book this flat', flat_path(flat), class: 'btn btn-primary btn-block'
